@page
@model GestionBiblioteca.Pages.Lector.Create

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Lector</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lector.PrimerNombre" class="control-label"></label>
                <input asp-for="Lector.PrimerNombre" class="form-control" />
                <span asp-validation-for="Lector.PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.SegundoNombre" class="control-label"></label>
                <input asp-for="Lector.SegundoNombre" class="form-control" />
                <span asp-validation-for="Lector.SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.PrimerApellido" class="control-label"></label>
                <input asp-for="Lector.PrimerApellido" class="form-control" />
                <span asp-validation-for="Lector.PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.SegundoApellido" class="control-label"></label>
                <input asp-for="Lector.SegundoApellido" class="form-control" />
                <span asp-validation-for="Lector.SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Ci" class="control-label"></label>
                <input asp-for="Lector.Ci" class="form-control" />
                <span asp-validation-for="Lector.Ci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Telefono" class="control-label"></label>
                <input asp-for="Lector.Telefono" class="form-control" />
                <span asp-validation-for="Lector.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lector.Correo" class="control-label"></label>
                <input asp-for="Lector.Correo" class="form-control" />
                <span asp-validation-for="Lector.Correo" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Lector.Contrasenia" class="control-label"></label> *@
            @*     <input asp-for="Lector.Contrasenia" class="form-control" type="password"/> *@
            @*     <span asp-validation-for="Lector.Contrasenia" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="Lector.Rol" class="control-label"></label> *@
            @*     <select asp-for="Lector.Rol" class="form-control"> *@
            @*         <option value="ADMIN">ADMIN</option> *@
            @*         <option value="EMPLEADO">EMPLEADO</option> *@
            @*         <option value="CLIENTE">CLIENTE</option> *@
            @*     </select> *@
            @*     <span asp-validation-for="Lector.Rol" class="text-danger"></span> *@
            @* </div> *@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
