@page "{id:int}"
@model GestionBiblioteca.Pages.Ejemplar.Edit
@{
    ViewData["Title"] = "Editar ejemplar";
}
<div class="page-title">
    <div class="icon"><i class="bi bi-pencil-square"></i></div>
    <h1 class="h3 m-0">Editar ejemplar</h1>
</div>

<form method="post" class="mt-3">
    <div class="row g-3">
        <div class="col-md-6">
            <label for="Input_IdLibro" class="form-label">Libro</label>
            <select name="Input.IdLibro" id="Input_IdLibro" class="form-select" data-testid="idlibro" asp-items="Model.LibrosSelect">
            </select>
            <span class="text-danger" data-testid="idlibro-error" data-valmsg-for="Input.IdLibro" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6">
            <label for="Input_FechaAdquisicion" class="form-label">Fecha adquisición</label>
            <input name="Input.FechaAdquisicion" id="Input_FechaAdquisicion" class="form-control" type="date" data-testid="fechaadquisicion" value="@Model.Input.FechaAdquisicion.ToString("yyyy-MM-dd")" />
            <span class="text-danger" data-testid="fechaadquisicion-error" data-valmsg-for="Input.FechaAdquisicion" data-valmsg-replace="true"></span>
        </div>

        <div class="col-12">
            <label for="Input_Descripcion" class="form-label">Descripción</label>
            <input name="Input.Descripcion" id="Input_Descripcion" class="form-control" data-testid="descripcion" value="@Model.Input.Descripcion"/>
            <span class="text-danger" data-testid="descripcion-error" data-valmsg-for="Input.Descripcion" data-valmsg-replace="true"></span>
        </div>

        <div class="col-12">
            <label for="Input_Observaciones" class="form-label">Observaciones</label>
            <input name="Input.Observaciones" id="Input_Observaciones" class="form-control" data-testid="observaciones" value="@Model.Input.Observaciones"/>
            <span class="text-danger" data-testid="observaciones-error" data-valmsg-for="Input.Observaciones" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-4">
            <label for="Input_Disponible" class="form-label">Disponible</label>
            <select name="Input.Disponible" id="Input_Disponible" class="form-select" data-testid="disponible">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <div class="mt-4 d-flex gap-2">
        <button type="submit" class="btn btn-primary" data-testid="submit-button"><i class="bi bi-check2-circle"></i> Guardar</button>
        <a asp-page="Index" class="btn btn-outline-primary">Cancelar</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
